
<div class="buttonMenu">
  <div class="example-button-row">

    <button mat-flat-button color="primary" (click)="addMachine()">Add-Machine</button>

  </div>
</div>
<div class="container">
  <mat-card>
    <div class="example-container">
      <div class="title">
        <h2>Maquina 1</h2>
      </div>
      <div>
        <div style="background-image: url(../assets/descarga.jpg);" cdkDropList #machine1List="cdkDropList" [cdkDropListData]="todos" [cdkDropListConnectedTo]="[employerList]"
        class="example-list" (cdkDropListDropped)="drop($event)">
        <div class="example-box" [cdkDragDisabled]="item.disabled" *ngFor="let item of todos" cdkDrag
          [ngStyle]="{'background': item.color }" style="opacity: 0.3">{{item.name}}</div>
      </div>
        <h2>Total Items</h2>
        <h2> {{totalItems}}</h2>
      </div>

    </div>
  </mat-card>
  <mat-card>
    <div class="example-container">
      <div class="title">
        <h2>Operarios</h2>
      </div>
      <div cdkDropList #employerList="cdkDropList" [cdkDropListData]="completed" [cdkDropListConnectedTo]="[machine1List,machine2List]"
        class="example-list" (cdkDropListDropped)="drop($event)">
        <div class="example-box" *ngFor="let item of completed" cdkDrag
        [ngStyle]="{'background': item.color }">{{item.name}}</div>
      </div>
    </div>
  </mat-card>
  <mat-card>
    <div class="example-container">
      <div class="title">
        <h2>Maquina 2</h2>
      </div>
      <div>
        <img src="../assets/imagenChica.jpg">
      </div>
      <div cdkDropList #machine2List="cdkDropList" [cdkDropListData]="maquina" [cdkDropListConnectedTo]="[employerList]"
        class="example-list" (cdkDropListDropped)="drop($event)">
        <div class="example-box" [cdkDragDisabled]="item.disabled" *ngFor="let item of maquina" cdkDrag
          [ngStyle]="{'background': item.color }">{{item.name}}</div>
      </div>
    </div>
  </mat-card>
</div>
